body {
    background: #0E1E23 !important;
}

body>.grid {
    height: 100%;
}

.column {
    max-width: 450px;
}

.content {
    color: #AF7763
}

.hoverIcon {
    width: 0;
    position: absolute;
    right: 7%;
    bottom: 25%;
}

.img1 {
    margin-bottom: -100px;
    margin-top: -100px;
}

label {
    text-align: left;
}

.logoImage {
    width: 200px !important;
    height: auto !important;
    margin: auto !important;
}
#error2 {
    position: absolute !important;
    left: 0 !important; 
    right: 0 !important;
    bottom: 0 !important;
    text-align: center !important;
}

.ui.grid {
    display: grid !important;
}